@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.about {
  column-count: 2;
  column-gap: 3rem;
  padding-top: 11rem;
  margin-bottom: 3rem;
  @include desktop {
    padding: 11rem 12rem 0 12rem;
  }
  &__item {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 3rem;
    &-text {
      width: calc(100% - 6rem);
      color: $warm-white;
      padding: 3rem;
      background-color: $hull-pink;
      font-size: 2rem;
      margin-top: 0;
    }
  }
}
