@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.homepage {
  padding: 0 5rem;
  @include desktop {
    padding: 0 12rem;
    padding-top: 11rem;
  }
}

.hero {
  display: flex;
  margin-bottom: 3rem;
  &__text {
    width: 100%;
    align-content: end;
    padding: 1rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: 100;
    color: $hull_pink;
    font-family: "Hull Font";
  }
  &__desc {
    font-size: 1.5rem;
  }
  &__image {
    background-color: $darkgrey;
    width: 40vw;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
