@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

a {
  text-decoration: none;
}

.header {
  z-index: 10;
  width: 100vw;
  position: fixed;
  padding: 2rem;
  background-color: $warm-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: $silver;
  font-size: 1.25rem;
  &__logo {
    height: 5rem;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0.5rem 0 0 0;
  }
  &__item {
    margin: 0 1.5rem;
    font-size: 1rem;
    &-active {
      color: $hull_pink;
      text-decoration: underline;
      text-decoration-color: $hull_pink;
      text-decoration-thickness: 0.1rem;
      margin: 0;
      font-weight: 500;
    }
    &-inactive {
      color: $darkgrey;
      text-decoration: none;
      margin: 0;
      font-weight: 500;
    }
  }
}
