@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

a {
  text-decoration: none;
}

.header {
  background-color: $maroon;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: $silver;
  font-size: 1.25rem;
  @include desktop {
    height: 10rem;
    padding-bottom: 1.5rem;
  }
  @include header {
    height: 8rem;
    padding: 0;
  }
  &__title {
    margin: 0;
    margin-left: 1rem;
    font-size: 1.75rem;
    @include desktop {
      font-size: 2.5rem;
      margin-left: 1.5rem;
    }
  }
  &__logo {
    height: 3rem;
    @include desktop {
      height: 4rem;
    }
  }
  &__branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    @include tablet {
      margin: 0;
    }
  }
}

.nav {
  top: 5.5rem;
  right: 0.5rem;
  @include header {
    top: 3.5rem;
  }
  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 1rem 0;
    @include tablet {
      margin: 0;
    }
  }
  &__item {
    margin: 0 1rem;
    font-size: 0.8rem;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.25rem;
    }
    &-active {
      color: $silver;
      text-decoration: underline;
    }
    &-inactive {
      color: $silver;
      text-decoration: none;
    }
  }
}
